body {
    font-family: system-ui, sans-serif;
    background: #f4f6f8;
    padding: 20px;
}

header {
    text-align: center;
}

.controls {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#status {
    text-align: center;
    margin-bottom: 10px;
    color: gray;
}

#product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 15px;
}

.product-card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .1);
    transition: 0.2s;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-3px);
}

.product-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 16px;
    margin: 8px 0;
}

.price {
    font-weight: bold;
    color: green;
}

html {
    scroll-behavior: smooth;
}